{% load static %}
<header class=" fixed-top ">
    <a href="{% url 'home' %}" class="home-logo">Lumigram</a>
    <nav class="mt-3">
        <ul class="nav__link">
            <li class="nav_link_li"><a href=" {% url 'home' %} " class="nav_link_li_a">Home</a></li>
            <li class="nav_link_li"><a href="{% url 'new-post' %}" class="nav_link_li_a">Add Post</a></li>
        </ul>
    </nav>
    <div>
        <input type="search" class="rounded-start-pill bg-light form-control search" placeholder="Search by UserName">
    </div>
    <button class="btn btn-outline-info">Search</i></button>
    <div class="dropdown nav-drop">
        <!-- Changed the dropdown toggle to an <a> tag -->
        <a href="" class="dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.profile %}
            <img src="{{request.user.profile.user_pic.url}}" alt="" height="25px" width="28px"
                class="rounded-pill profile">
            {% else %}
            <img src="{% static 'images/Angular.jpeg' %}" alt="" height="25px" width="28px"
                class="rounded-pill profile">
            {% endif %}

        </a>
        <ul class="dropdown-menu ">
            <li><a class="dropdown-item drop-nav-item" href="{% url 'profile-view' request.user.id %}">Profile</a></li>
            <li><a class="dropdown-item drop-nav-item" href="#">Saved Post</a></li>
            <li>
                <hr class="dropdown-divider text-light " style="color:white;">
            </li>
            <li><a class="dropdown-item drop-nav-item text-danger " href=" {% url 'sign-out' %} ">Log Out</a></li>
        </ul>
    </div>
</header>