<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Form</title>
    <link rel="stylesheet" href="{% static 'css/logform.css' %}">
    <script src="{% static 'js/logform.js' %}"></script>
</head>

<body>
    {{form.errors}}
    <div class="container" id="container">
        <div class="form-container sign-up-container">

            <form action="{% url 'authentication' %}" method="post">
                {% csrf_token %}
                <h1>Create Account</h1>
                <!-- Display form errors for sign-up -->
                {% if signup_errors %}
                <p class="error">{{ signup_errors }}</p>
                {% endif %}
                <input type="text" placeholder="Enter a Username" name="username" />
                <input type="email" placeholder="Enter your Email" name="email" />
                <input type="password" placeholder="Enter a Password" name="password1" />
                <input type="password" placeholder="Confirm Your Password" name="password2" />
                <button type="submit" name="signup" value="Sign Up">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{% url 'authentication' %}" method="post">
                {% csrf_token %}
                <h1>Sign in</h1>
                <!-- Display form errors for sign-in -->
                {% if login_errors %}
                <p class="error">{{ login_errors }}</p>
                {% endif %}
                <input placeholder="Enter your Username" name="username" />
                <input type="password" placeholder="Enter your Password" name="password" />
                <a href="#">Forgot your password?</a>
                <button type="submit" name="signin" value="Login">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://www.linkedin.com/in/fayasudheen-k-f-11246a26b/">Fayaz Faizal</a>
            - Click here you can Find my More projects
            <a target="_blank" href="https://github.com/Fayazz7">here</a>.
        </p>
    </footer>
</body>

</html>